@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
layer(framework);
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "resets.css";

:root {
    --text-display: "Bebas Neue", "san-serif";
    --text-font: "Montserrat", "sans-serif";
    --color-primary: #3496d5;
    --color-secondary: #00b3df;
    --color-pri-accent: #f9f871;
    --color-sec-accent: #a0f189;
}

body {
    font-family: var(--text-font);
    background-color: black;
    color: white;
}

.container-fluid.header {
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.trailer-btn {
    background-color: var(--color-primary);
}

.page-wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.featured-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.container-fluid:has(.row) {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .row {
        width: 100%;
        max-width: 1140px;
    }
}

.container-fluid.features {
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

.container-fluid.slide {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    transition: all ease 0.3s;
    &.active {
        left: 0;
        & ~ .container-fluid.slide {
            left: 100%;
        }
    }
}

.logo-title {
    font-family: var(--text-display);
}

.movie-title {
    font-family: var(--text-display);
    font-size: 128px;
}

.rating {
    font-size: 32px;
}

.slide {
    height: 100dvh;
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
}

.lt-info {
    height: 100%;
    justify-content: center;
    align-items: start;
}

.movie-more-info {
    background: rgba(110, 110, 110, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    border-radius: 10px;
    transition: all ease 0.3s;
    margin-top: 24px;
    & li {
        margin-top: 8px;
    }
    & .description {
        font-size: 16px;
        font-weight: 400;
    }
    & h3 {
        font-size: 16px;
        font-weight: 700;
    }
}
